body{
    background-color: #FFD6EC;
  }
  
  hr{
    border-style: dotted;
  }
  
  h1{
    align-items: baseline;
    color: blue;
    
  }
  

  .middle-container{
    height: 200px;
    width: 200px;
    background-color: blue;
  }

  .buttom-container{
    height: 200px;
    width: 200px;
    background-color: red;
  }